<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="~/perfil1.png" style="max-width: 130%; height: auto;" alt="Sobre Mim">
                                </div>
                                <div class="col-md-9">
                                    <h5>Lucas Vaz</h5>
                                    <p>
                                        Lucas Vaz é um profissional dedicado e versátil, com ampla experiência em Infraestrutura, Suporte e Redes. Como Tech Lead, liderou equipes de infraestrutura e suporte, administrou bancos de dados, analisou sistemas Asp.net e gerenciou redes e servidores Windows Server. Sua expertise em infraestrutura de TI, PL/SQL, Transact-SQL e Microsoft SQL Server foi fundamental para seu sucesso.
                                        <br />
                                        Como Analista de Sistemas PL, demonstrou proficiência em análise de sistemas usando SQL Server e Asp.net. Ganhou experiência adicional como Analista de Suporte JR, fornecendo suporte a sistemas ERP e manutenção de hardware.
                                        <br />
                                        Além disso, Lucas contribuiu voluntariamente como Monitor em projetos de inclusão digital para pessoas de terceira idade e participou da arrecadação de lixo eletrônico reciclável para ensinar crianças e adolescentes a reciclar e dar manutenção em microcomputadores.
                                         <br />
                                        Destaca-se sua experiência em manutenção de redes de computadores, instalação de circuito de monitoramento IP e desenvolvimento e execução de projetos de infraestrutura de TI. Sua habilidade em solução de problemas, empatia e comunicação eficaz são valorizadas por seus colegas.
                                        <br />
                                        Lucas Vaz é um profissional exemplar, comprometido com a qualidade e adaptável a novos desafios. Sua paixão pela tecnologia e busca contínua por aprendizado fazem dele uma escolha promissora.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">

                            <h3>Encarregado de Tecnologia - Avatim</h3>
                            <p>2019 - Atualmente</p>
                            <p>Responsável pela infraestrutura de TI</p>
                            <p>Análise de Banco de Dados e Sistemas Asp.Net</p>

                            <h3>Operador de Caixa - Mais Voce Itabuna</h3>
                            <p>2018 - 2019</p>
                            <p>Atendimento ao Cliente</p>
                            <p>Experiência com uso de ERP</p>

                            <h3>Técnico de Informática - Infocriativa</h3>
                            <p>2016 - 2016</p>
                            <p>Manutenção de Hardware e Software</p>
                            <p>Suporte Presencial</p>
                        </div>
                        <div class="carousel-item">
                            <h2>Meus Estudos</h2>

                            <h3>Cursos Online</h3>
                            <ul>
                                <li>SQL - 30 Horas</li>
                                <li>SQL Completo - Softblue - 20 Horas</li>
                                <li>MySQL Consultas com Join - DIO - 2 Horas</li>
                                <li>Modelando um banco de dados SQL Server - DIO - 2 Horas</li>
                                <li>SQL Server Boas práticas - DIO - 2 Horas</li>
                                <li>SQL Server Criando consultas - DIO - 4 Horas</li>
                                <li>Desenvolvimento - 15 Horas</li>
                            </ul>

                            <h3>Certificações</h3>
                            <ul>
                                <li>Fundamentos de Informática - IBSEC</li>
                                <li>Fundamentos de Cibersegurança - IBSEC</li>
                                <li>Transact SQL - Linkedin</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
