<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<html>
<body>
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <img src="https://i.ibb.co/d5BrgYs/fotohome.png" class="card-img-top" alt="Lucas Vaz">
                    <div class="card-body">
                        <h5 class="card-title">Lucas Vaz</h5>
                        <p class="card-text">
                            Olá, eu sou um Profissional de TI com mais de 4 anos de experiência em Suporte remoto e
                            Infraestrutura de TI. Além disso, tenho conhecimentos em análise de sistemas ASP.Net e boa compreensão e escrita em SQL.
                            Durante 4 anos, trabalhei em atendimento ao cliente e aprendi a importância de ser um solucionador de problemas e
                            estar sempre motivado para enfrentar novos desafios.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h3>Encarregado de Tecnologia - Avatim</h3>
                            <p>2019 - Atualmente</p>
                            <p>Responsável pela infraestrutura de TI</p>
                            <p>Análise de Banco de Dados e Sistemas Asp.Net</p>
                        </div>
                        <div class="carousel-item">
                            <h3>Operador de Caixa - Mais Voce Itabuna</h3>
                            <p>2018 - 2019</p>
                            <p>Atendimento ao Cliente</p>
                            <p>Experiência com uso de ERP</p>
                        </div>
                        <div class="carousel-item">
                            <h3>Técnico de Informática - Infocriativa</h3>
                            <p>2016 - 2016</p>
                            <p>Manutenção de Hardware e Software</p>
                            <p>Suporte Presencial</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>


                    <h2>Meus Estudos</h2>

                    <h3>Cursos Online</h3>
                    <ul>
                        <li>SQL - 30 Horas</li>
                        <li>SQL Completo - Softblue - 20 Horas</li>
                        <li>MySQL Consultas com Join - DIO - 2 Horas</li>
                        <li>Modelando um banco de dados SQL Server - DIO - 2 Horas</li>
                        <li>SQL Server Boas práticas - DIO - 2 Horas</li>
                        <li>SQL Server Criando consultas - DIO - 4 Horas</li>
                        <li>Desenvolvimento - 15 Horas</li>
                    </ul>

                    <h3>Certificações</h3>
                    <ul>
                        <li>Fundamentos de Informática - IBSEC</li>
                        <li>Fundamentos de Cibersegurança - IBSEC</li>
                        <li>Transact SQL - Linkedin</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>  
</body>

</html>
